@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --colorBg: rgb(37, 37, 192);
  --colorPrimary: rgb(59, 140, 211);
  --paddingSm: 0.3em;
  --paddingMd: calc(var(--paddingSm) * 2);
  --paddingLg: calc(var(--paddingMd) * 2);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Press Start 2P', cursive;
}

body,
div,
button,
input,
form,
nav {
  display: flex;
}

button{
  justify-content: center;
}

button:hover {
  filter: brightness(0.8);
}

button:active {
  filter: invert();
}

body {
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--colorBg);
  justify-content: center;
  align-items: center;
}

#root {
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  padding: 4em;
}

.layout{
  flex-direction: row;
}

.flexCol {
  flex-direction: column;
}

.flexRow {
  flex-direction: row;
}
.justifyContentSpaceEvenly{
  justify-content: space-evenly;
}
.justifyContentSpaceBetween{
  justify-content: space-between;
}
.justifyContentSpaceAround{
  justify-content: space-around;
}

.justifyContentCenter{
  justify-content: center;
}

/* Padding */

.paddingX {
  padding-left: var(--paddingSm);
  padding-right: var(--paddingSm);
}

.paddingY {
  padding-top: var(--paddingSm);
  padding-bottom: var(--paddingSm);
}
.padding {
  padding: var(--paddingSm);
}
.paddingMdX {
  padding-left: var(--paddingMd);
  padding-right: var(--paddingMd);
}

.paddingMdY {
  padding-top: var(--paddingMd);
  padding-bottom: var(--paddingMd);
}
.paddingMd {
  padding: var(--paddingMd);
}
.paddingLgX {
  padding-left: var(--paddingLg);
  padding-right: var(--paddingLg);
}

.paddingLgY {
  padding-top: var(--paddingLg);
  padding-bottom: var(--paddingLg);
}
.paddingLg {
  padding: var(--paddingLg);
}

/* Margin */

.marginX {
  margin-left: var(--paddingSm);
  margin-right: var(--paddingSm);
}

.marginY {
  margin-top: var(--paddingSm);
  margin-bottom: var(--paddingSm);
}

.margin {
  margin: var(--paddingMd);
}
.marginMdX {
  margin-left: var(--paddingMd);
  margin-right: var(--paddingMd);
}

.marginMdY {
  margin-top: var(--paddingMd);
  margin-bottom: var(--paddingMd);
}

.marginMd {
  margin: var(--paddingLg);
}
.marginLgX {
  margin-left: var(--paddingLg);
  margin-right: var(--paddingLg);
}

.marginLgY {
  margin-top: var(--paddingLg);
  margin-bottom: var(--paddingLg);
}

.marginLg {
  margin: var(--paddingLg);
}

.toy {
  flex-direction: column;
  background-color: rgb(59, 140, 211);
  max-width: 60vh;
  /* max-height: 80vh; */
  /* border-top-left-radius: 50% 60%;
  border-top-right-radius: 50% 60%;
  border-bottom-right-radius: 50% 60%;
  border-bottom-left-radius: 50% 60%; */
  border-radius: var(--paddingLg);
  box-shadow: inset rgb(255,255,255, 0.5) 2vw 2vh  2vh;
}
.toyInnerShine{
  padding: 4em;
  box-shadow: inset rgb(0, 0, 0, 0.5) -2vw -2vh  2vh ;
  border-radius: var(--paddingLg);

}

.petElement {
  flex-direction: column;
  min-width: 100%;
  padding: 2em;
  border-radius: 3em;
  /* LCD Screen Color */
  background-color: rgb(72, 95, 87);
  box-shadow: inset rgb(0, 0, 0, 0.2) 15px 15px 5px;
  /* LCD Text Color */
  color: #111;
}

.petButton {
  content: '';
  padding: 1em;
  justify-content: center;
  width: 3em;
  height: 3em;
  border-radius: var(--paddingLg);
  box-shadow: var(--paddingSm) var(--paddingSm) var(--paddingMd) rgb(0, 0, 0, 0.3);
}

.petButtonContainer {
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2em;
  min-width: 100%;
}

.achievementComponent {
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 1em;
  padding: 1em;
  animation: forwards;
  animation: ease-in;
  animation-play-state: running;
  animation-delay: 2s;
  margin-top: var(--paddingMd);
}

.achievementWrapper {
  display: flex;
  margin-top: var(--paddingMd);
  margin-bottom: var(--paddingMd);
}

.achievement {
  flex-direction: row;
  align-items: center;
  background-color: rgb(77, 77, 77);
  color: white;
  padding: 0em;
  border-radius: var(--paddingMd);
  width: 100%;
}

.achievement>div {
  padding: 0.5em;
}

.achievement:hover {
  filter: brightness(1.15);
  cursor: pointer;
}

.achievementsList {
  flex-direction: column;
}

.achievementMessage {
  font-family: sans-serif;
}

.achievement:hover .achievementMessage {
  filter: opacity(1);
}

.achievementHeader {
  color: #ffbbcc
}


.petImg {
  min-width: 100%;
  border-radius: 2em;
}

.livePet {
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: petShuffle;
  /* animation-delay: 2s; */
  animation-duration: 0.4s;
  animation-fill-mode: both;
  /* animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1); */
  transform: skew(0deg, 10deg);
}

@keyframes petShuffle {
  0% {
    transform: skew(0deg, 2deg);
  }

  20% {
    transform: skew(0deg, 0deg);
  }

  80% {
    transform: skew(0deg, 3deg);
  }

  100% {
    transform: skew(0deg, -5deg);
  }
}

.progressBarWrapper {
  align-items: center;
  padding: 0em;
  border: 0.1em black solid;
}

.ProgressBarWrapper {
  align-items: center;
  padding: 0.5em;
  /* border: 0.001em black solid; */
}


/* mobile overides */
@media (max-width: 768px){
  .layout{
    flex-direction: column;
  }
}