@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --colorBg: hsl(0, 0%, 10%);
  --colorPrimary: #85807a;


  --lcdShadow: hsl(210, 100%, 5%, 0.7) 0.08em 0.08em 0.05em;
  --insetShadow: inset rgb(0, 0, 0, 0.2) 15px 15px 5px;

  --lcdTextColor: #132613;
  --gameBoyBlue: #2a2d93;
  --lcdBG: #5c834a;

  --paddingSm: 0.3em;
  --paddingMd: calc(var(--paddingSm) * 2);
  --paddingLg: calc(var(--paddingMd) * 2);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Press Start 2P', cursive;
}

body,
div,
button,
input,
form,
nav {
  display: flex;
}

button{
  justify-content: center;
}

body {
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--colorBg);
  justify-content: center;
  align-items: center;
}

#root {
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  /* max-height: 100vh; */
  padding-top: 1em;
}

.layout{
  flex-direction: column;
  align-items: center;
  max-width: calc(100% - 2em);
}

.flexCol {
  flex-direction: column;
}

.flexRow {
  flex-direction: row;
}
.justifyContentSpaceEvenly{
  justify-content: space-evenly;
}
.justifyContentSpaceBetween{
  justify-content: space-between;
}
.justifyContentSpaceAround{
  justify-content: space-around;
}

.justifyContentCenter{
  justify-content: center;
}

/* Padding */

.paddingX {
  padding-left: var(--paddingSm);
  padding-right: var(--paddingSm);
}

.paddingY {
  padding-top: var(--paddingSm);
  padding-bottom: var(--paddingSm);
}
.padding {
  padding: var(--paddingSm);
}
.paddingMdX {
  padding-left: var(--paddingMd);
  padding-right: var(--paddingMd);
}

.paddingMdY {
  padding-top: var(--paddingMd);
  padding-bottom: var(--paddingMd);
}
.paddingMd {
  padding: var(--paddingMd);
}
.paddingLgX {
  padding-left: var(--paddingLg);
  padding-right: var(--paddingLg);
}

.paddingLgY {
  padding-top: var(--paddingLg);
  padding-bottom: var(--paddingLg);
}
.paddingLg {
  padding: var(--paddingLg);
}

/* Margin */

.marginX {
  margin-left: var(--paddingSm);
  margin-right: var(--paddingSm);
}

.marginY {
  margin-top: var(--paddingSm);
  margin-bottom: var(--paddingSm);
}

.margin {
  margin: var(--paddingMd);
}
.marginMdX {
  margin-left: var(--paddingMd);
  margin-right: var(--paddingMd);
}

.marginMdY {
  margin-top: var(--paddingMd);
  margin-bottom: var(--paddingMd);
}

.marginMd {
  margin: var(--paddingLg);
}
.marginLgX {
  margin-left: var(--paddingLg);
  margin-right: var(--paddingLg);
}

.marginLgY {
  margin-top: var(--paddingLg);
  margin-bottom: var(--paddingLg);
}

.marginLg {
  margin: var(--paddingLg);
}

.toy {
  flex-direction: column;
  background-color: var(--colorPrimary);
  max-width: 100vh;
  max-height: 100vh;
  border-radius: var(--paddingLg);
  box-shadow: inset rgb(255,255,255, 0.1) 0.3em 0.3em 0.6em;
}
.toyInnerShine{
  padding: 4em;
  box-shadow: inset rgb(0, 0, 0, 0.4) -0.3em -0.3em  0.6em ;
  border-radius: var(--paddingLg);
  height: 100%;
}

.petHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25em;
  color: var(--gameBoyBlue);
  margin-bottom: 1em;
}
.Chimtembo{
  color: rgb( 210, 0, 0, 0.7);
  border: 0.3em solid;
  border-radius: 35%;
  padding: 0.5em; text-transform: uppercase;
}
.petElement {
  flex-direction: column;
  min-width: 100%;
  padding: 2em;
  padding-bottom: 0.5em;
  border-radius: 3em;
  /* LCD Screen Color */
  background-color: var(--lcdBG);
  box-shadow: var(--insetShadow);
  /* LCD Text Color */
  color: var(--lcdTextColor);
  text-shadow: var(--lcdShadow);
}

.nameButton{
  background-color: black;
  color: var(--lcdBG);
}

.petButton {
  content: '';
  padding: 1em;
  justify-content: center;
  width: 3em;
  height: 3em;
  border-radius: var(--paddingLg);
  box-shadow: var(--paddingSm) var(--paddingSm) var(--paddingSm) rgb(0, 0, 0, 0.3);
  background-color: #532238;
}
.petButton:active{
  box-shadow: 0.2em 0.2em var(--paddingSm) rgb(0, 0, 0, 0.3);
  background-color: #431228;
}
.petButton:hover{
  filter: brightness(1.1);
  cursor: pointer;
}
.petButtonContainer {
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2em;
  min-width: 100%;
}

.achievementComponent {
  flex-direction: column;
  background-color: var(--colorPrimary);
  border-radius: 1em;
  padding: 1em;
  min-width: 100%;
  animation: forwards;
  animation: ease-in;
  animation-play-state: running;
  animation-delay: 2s;
  margin-top: var(--paddingMd);
}

.achievementsList {
  flex-direction: column;
  min-width: 100%;
  max-width: 50vw;
}

.achievementWrapper {
display: flex;
margin-top: var(--paddingMd);
margin-bottom: var(--paddingMd);
}

.achievement {
  flex-direction: row;
  background-color: var(--lcdBG);
  color: white;
  padding: 1em;
  border-radius: var(--paddingMd);
  min-width: 100%;
  box-shadow: var(--insetShadow);
}


.achievement:hover {
  filter: brightness(1.15);
  /* cursor: pointer; */
}
.achievementIcon {
  font-family: monospace;
  font-size: 2em;
  padding: var(--paddingMd);
}
.achievementMessageWrapper{
  flex-grow: 1;
}

.achievementMessage {
  font-size: 1em;
  color: var(--lcdTextColor);
  text-shadow: var(--lcdShadow);
  padding: 0.3em;
  line-break: all;
  margin-top: 1em;
}

.achievementHeader {
  min-width: 100%;
  padding: 0.3em;
  color: var(--lcdTextColor);
  border-bottom: 0.1em solid var(--lcdTextColor);
  filter: drop-shadow(var(--lcdShadow));
}


.petImg {
  min-width: 50%;
  max-width: 75%;
}

.lcdShadow{
  /* filter: drop-shadow(var(--lcdShadow)); */
  fill: var(--lcdTextColor);
}

.petBody, .petHead{
  fill: var(--lcdTextColor)
}

.torsoRect, .legsRect, .petHeadRect, .feetRect{
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: petBreathe;
  /* animation-delay: 2s; */
  animation-duration: 2500ms;
  animation-fill-mode: both;
  
}
.petEye{
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: petBlink;
  animation-duration: 2s;
  animation-fill-mode: both;
  
}
.legsRect{
  animation-delay: 0.2s;
}
.petHeadRect{
  animation-delay: 0.5s;
}

.petEye, .mouthRect{
  stroke: var(--lcdTextColor);
  fill: var(--lcdBG);
}



@keyframes petShuffle {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}

@keyframes petBlink {
  95% {
    /* height: 10; */
  }
  100% {
    /* height: 0; */
  }
}

@keyframes petBreathe {
  0% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(3deg);
  }
  100% {
    transform: skew(0deg);
  }
}

@keyframes petFlap {
  0% {
    x: 32;
    transform: scaleX(1) rotate(0deg);
  }
  
  100% {
    x: -12;
    transform: scaleX(1.09) rotate(-5deg);
  }
}

.progressBarWrapper {
  align-items: center;
  padding: 0em;
  border: 0.1em black solid;
}

.ProgressBarWrapper {
  align-items: center;
  padding: 0.5em;
  /* border: 0.001em black solid; */
}


.layout{
  flex-direction: column;
}